//
@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//
@mixin ellipsisY($num: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

//
@mixin trs ($t: .3s, $type: ease-out) {
  transition: all $t $type;
  @content;
}

@mixin bgContain ($name, $path: $assetsPath) {
  background: url(#{$path}#{$name}.png) no-repeat center;
  background-size: contain;
}

@mixin bgFull ($name, $path: $assetsPath) {
  background: url(#{$path}#{$name}.png) no-repeat center;
  background-size: 100%, 100%;
}
