// Font
$font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$fontSize: 16px;
$lineHeight: 1.2;

// Path
$assetsPath: "../assets/";

// Theme
$primaryColor: #095ce5;
$accentColor: #2d333f;
$primaryTextColor: #333;
$secondaryTextColor: #666;
$whiteTextColor: #fff;
$lightTextColor: #dbdce0;
$bgColor: #ededed;

// Layout
$navbarHeight: 70px;
$menuItemHeight: 60px;
$sidebarWidth: 230px;
$sideNavItemHeight: 60px;
$subMenuHeight: 90px;
$subMenuItemHeight: 60px;
$subMenuItemWidth: 200px;
