// Font
$font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$font-size: 16px;
$line-height: 1.2;

// Theme
$primary-color: #095ce5;
$accent-color: #2d333f;
$primary-text-color: #333;
$secondary-text-color: #666;
$white-text-color: #fff;
$light-text-color: #dbdce0;
$bg-color: #ededed;

// Layout
$layout-min-width: 1200px;

$navbar-height: 70px;
$menu-item-height: 60px;
$sidebar-width: 230px;
$side-nav-item-height: 60px;
$sub-menu-height: 90px;
$sub-menu-item-width: 200px;
$sub-menu-item-height: 60px;

// stylelint disbale comments not working with --fix
// For now, the whole file need to add to .stylelintignore
// See https://github.com/stylelint/stylelint/issues/2643
/* stylelint-disable */
:export {
  primaryColor: $primary-color;
}
/* stylelint-enable */
