/* Sass Variables */

// Typo
$base-font: "Helvetica Neue", helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", arial, sans-serif !default;
$base-font-size: 14px !default;
$base-line-height: 1.2 !default;

// Palette
$white: #fff !default;
$black: #000 !default;
$transparent: transparent !default;
$bg-light-black: #2d333f !default;
$primary-color: #e22323 !default;

// Animation
$transition-duration: 0.3s !default;
$transition-timing-function: cubic-bezier(1, 0.5, 0.8, 1) !default;

// Layout
$navbar-height: 70px;
$sidebar-width: 230px;

$gutter-xs: 5px;
$gutter-sm: 10px;
$gutter-md: 20px;

/* Overrides ElementPlus brand color */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": $primary-color,
    ),
  )
);
