body {
  position: relative;
  line-height: $lineHeight;
  overflow-x: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;

  &:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

body,
input,
button,
textarea,
select,
option {
  font: normal $fontSize $font;
}
