<template>
  <div class="{{kebabCase name}}">
    <h1>{{kebabCase name}}</h1>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: '{{pascalCase name}}',

  computed: {
    ...mapGetters([

    ]),
  },

  data () {
    return {

    }
  },

  methods: {
    ...mapActions([

    ]),
  },

  created () {

  },
}
</script>
