<template>
  <div class="{{kebabCase name}}">
    <span>{{kebabCase name}}</span>
  </div>
</template>

<script>
export default {
  name: '{{pascalCase name}}',

  props: {

  },

  data () {
    return {

    }
  },

  methods: {

  },
}
</script>

<style lang="scss">
.{{kebabCase name}} {
  position: relative;
}
</style>
