/// @name ui

.app-container {
  position: relative;

  @include is(full) {
    height: 100%;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
